body{
    background-color: plum;
 }

 h1 {
    color: #9F0D7F;
 }

 h2 {
    color: #9F0D7F;
 }

 h3 {
    color: #9F0D7F;
}

  hr{
    background-color: white;
    border-style: none;
  }

